<a href="https://colab.research.google.com/github/reddysrikar1/SrikarReddy_INFO5731_Spring2022/blob/main/In_class_exercise_03_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (2/22/2022, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

Text classification is a machine learning approach for categorizing open-ended text into a collection of predetermined categories. Text classifiers can organize, arrange, and categorize almost any type of text, including papers, medical research, and files, as well as text found on the internet.

New articles, for example, can be grouped by themes, support requests by urgency, chat dialogues by language, brand mentions by mood, and so on.

Text classification is one of the fundamental tasks in natural language processing with broad applications such as sentiment analysis, topic labeling, spam detection, and intent detection.

We used data from the imdb website to determine the number of words, characters, average word lengths, stopwords, special characters, numeric, and uppercase words in "The Revenant" movie reviews.





'''

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [5]:
# You code here (Please add comments in the code):

import nltk

from bs4 import BeautifulSoup as bs
import pandas as pd
import requests as rq
import matplotlib.pyplot as plt
import nltk
from wordcloud import WordCloud
from nltk.corpus import stopwords


#collecting sample text data from IMDb "BheemlaNaik movie reviews"

#assigining the URL to a varilable 
url = 'https://www.imdb.com/title/tt1663202/reviews'

#Creating a data frame with one column to store text of reviews
data_frame = pd.DataFrame(columns=['Review'])
req = rq.get(url).text
soup = bs(req,'html.parser')

#collecting reviews text
review_text = soup.find_all('div', attrs={'class' : 'text show-more__control'})

#creating a empty list
review_list = []
for i in range(len(review_text)):
  review_list.append(review_text[i].get_text())

#assigining list to the data frame    
data_frame['Review'] = review_list

data_frame['word_count'] = data_frame['Review'].apply(lambda x: len(str(x).split(" ")))
data_frame[['Review','word_count']].head()

                                              Review  word_count
0  'The Revenant' to me is one of 2015's best fil...         273
1  A favorite era of mine for film stories has al...         331
2  A good, solid survival adventure film of the k...         117
3  The Revenant (2015) *** 1/2 (out of 4) Visuall...         436
4  Hugh Glass (Leonardo DiCaprio) is a frontiers ...         187

In [11]:
#Number of characters

data_frame['char_count'] = data_frame['Review'].str.len() ## this also includes spaces
data_frame[['Review','char_count']].head()

                                              Review  char_count
0  'The Revenant' to me is one of 2015's best fil...        1624
1  A favorite era of mine for film stories has al...        1860
2  A good, solid survival adventure film of the k...         658
3  The Revenant (2015) *** 1/2 (out of 4) Visuall...        2424
4  Hugh Glass (Leonardo DiCaprio) is a frontiers ...        1076

In [14]:
#Number of special characters

data_frame['hastags'] = data_frame['Review'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data_frame[['Review','hastags']].head()

                                              Review  hastags
0  'The Revenant' to me is one of 2015's best fil...        0
1  A favorite era of mine for film stories has al...        0
2  A good, solid survival adventure film of the k...        0
3  The Revenant (2015) *** 1/2 (out of 4) Visuall...        0
4  Hugh Glass (Leonardo DiCaprio) is a frontiers ...        0

In [13]:
#Number of stopwords

from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

data_frame['stopwords'] = data_frame['Review'].apply(lambda x: len([x for x in x.split() if x in stop]))
data_frame[['Review','stopwords']].head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                              Review  stopwords
0  'The Revenant' to me is one of 2015's best fil...        127
1  A favorite era of mine for film stories has al...        135
2  A good, solid survival adventure film of the k...         52
3  The Revenant (2015) *** 1/2 (out of 4) Visuall...        195
4  Hugh Glass (Leonardo DiCaprio) is a frontiers ...         60

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [6]:
# You code here (Please add comments in the code):

tf1 = (data_frame['Review'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

      words  tf
0       the  16
1         a   8
2       for   8
3        to   8
4        of   7
..      ...  ..
206  dialog   1
207     use   1
208  facial   1
209    body   1
210  times.   1

[211 rows x 2 columns]

In [7]:
#ITF

import numpy as np

for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data_frame.shape[0]/(len(data_frame[data_frame['Review'].str.contains(word)])))

tf1

      words  tf       idf
0       the  16  0.000000
1         a   8  0.000000
2       for   8  0.000000
3        to   8  0.040822
4        of   7  0.040822
..      ...  ..       ...
206  dialog   1  2.525729
207     use   1  0.916291
208  facial   1  3.218876
209    body   1  2.120264
210  times.   1  1.832581

[211 rows x 3 columns]

In [8]:
#TF-IDF

tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

      words  tf       idf     tfidf
0       the  16  0.000000  0.000000
1         a   8  0.000000  0.000000
2       for   8  0.000000  0.000000
3        to   8  0.040822  0.326576
4        of   7  0.040822  0.285754
..      ...  ..       ...       ...
206  dialog   1  2.525729  2.525729
207     use   1  0.916291  0.916291
208  facial   1  3.218876  3.218876
209    body   1  2.120264  2.120264
210  times.   1  1.832581  1.832581

[211 rows x 4 columns]