<a href="https://colab.research.google.com/github/reddysrikar1/SrikarReddy_INFO5731_Spring2022/blob/main/In_class_exercise_01_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here

r = 'history'
print(len(r))

7

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [18]:
# write your answer here

def char_count(s1):
    dict = {}
    for j in s1:
        keys = dict.keys()
        if j in keys:
            dict[j] += 1
        else:
            dict[j] = 1
    return dict
print(char_count('verees_birds'))

{'v': 1, 'e': 3, 'r': 2, 's': 2, '_': 1, 'b': 1, 'i': 1, 'd': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [5]:
# write your answer here

def sum_list(items):
  total_sum = 0;
  for a in items:
    total_sum += a
  return total_sum;
print(sum_list([3, 7, -4]))

6

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [7]:
# write your answer here

def replace_char(s1):
  char = s1[0]
  s1 = s1.replace(char, '$')
  s1 = char + s1[1:]

  return s1
print(replace_char('paper'))

pa$er

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [19]:
# write your answer here

a = 3
b = 6

S = 3.14 * (1 + a/b)**3

print("the value of S is", S)

the value of S is 10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [22]:
# write your answer here

dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50,6:60}

result = {}

for d in (dic1, dic2, dic3): result.update(d)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [11]:
# write your answer here

mytuple = ("row", "week", "man", "rod", "f1")
print("man" in mytuple)
print("f1" in mytuple)

True
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [5]:
# write your answer here

sets = [3, 5, 1, 18, 11, 43]

print(type(sets))
print(max(sets))
print(min(sets))

<class 'list'>
43
1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [6]:
# write your answer here

def divide_stud(sk):
  
  studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [20]:
# write your answer here

def dup_int(s1):
  non_dup = -1
  ele = set()
  for i in range(len(s1)):

        if s1[i] in ele:
            return s1[i]
        else:
            ele.add(s1[i])

  return non_dup
print(dup_int([3, 4, 5, 6, 6, 7]))
print(dup_int([11, 12, 13, 13]))
print(dup_int([21, 22, 23]))

6
13
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [4]:
# write your answer here

from datetime import date, timedelta

def all_sundays(year):

       k = date(year, 1, 1)
       
       k += timedelta(days = 6 - k.weekday())  
       while k.year == year:
          yield k
          k += timedelta(days = 7)
          
for s in all_sundays(1999):
   print(s)

1999-01-03
1999-01-10
1999-01-17
1999-01-24
1999-01-31
1999-02-07
1999-02-14
1999-02-21
1999-02-28
1999-03-07
1999-03-14
1999-03-21
1999-03-28
1999-04-04
1999-04-11
1999-04-18
1999-04-25
1999-05-02
1999-05-09
1999-05-16
1999-05-23
1999-05-30
1999-06-06
1999-06-13
1999-06-20
1999-06-27
1999-07-04
1999-07-11
1999-07-18
1999-07-25
1999-08-01
1999-08-08
1999-08-15
1999-08-22
1999-08-29
1999-09-05
1999-09-12
1999-09-19
1999-09-26
1999-10-03
1999-10-10
1999-10-17
1999-10-24
1999-10-31
1999-11-07
1999-11-14
1999-11-21
1999-11-28
1999-12-05
1999-12-12
1999-12-19
1999-12-26