<a href="https://colab.research.google.com/github/reddysrikar1/SrikarReddy_INFO5731_Spring2022/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here

import random
genlist = []
for i in range(0, 12):
 x = random.randint(1, 100)
 genlist.append(x)
a = sorted(genlist)
print(a)
b = sorted(genlist, reverse = True)
print(b)

[11, 21, 26, 31, 33, 40, 41, 78, 78, 83, 93, 97]
[97, 93, 83, 78, 78, 41, 40, 33, 31, 26, 21, 11]

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [28]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [29]:
sentense1=str(input('Please Enter the first sentence:'))
sentense2=str(input('Please Enter the second sentence:'))
import nltk
sr1 = nltk.word_tokenize(sentense1)
sr2 = nltk.word_tokenize(sentense2)
print(sr1)
print(sr2)
#Comparing the two sentences and printing words occuring in both
print(set(sr1) & set(sr2))
#remove punctuations
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')
s11=tokenizer.tokenize(sentense1)
s22=tokenizer.tokenize(sentense2)
print(sr1)
print(sr2)
#counting vowels
vsk1 = sentense1.lower()
vsk2 = sentense2.lower()
vowel_counts1 = {}
vowel_counts2 = {}
for vowel in "aeiou":
 count1 = vsk1.count(vowel)
 vowel_counts1[vowel] = count1
 count2 = vsk2.count(vowel)
 vowel_counts2[vowel] = count2
print('The vowels in the first sentence are:', vowel_counts1)
print('The vowels in the second sentence are:', vowel_counts2)

Please Enter the first sentence:I had lady fingers while the soldiers around me had hands made to strangle and calluses that grated their rifles into submission.
Please Enter the second sentence:I told my niece about them in a letter home. She sent us drawings of dragons and horses in response.
['I', 'had', 'lady', 'fingers', 'while', 'the', 'soldiers', 'around', 'me', 'had', 'hands', 'made', 'to', 'strangle', 'and', 'calluses', 'that', 'grated', 'their', 'rifles', 'into', 'submission', '.']
['I', 'told', 'my', 'niece', 'about', 'them', 'in', 'a', 'letter', 'home', '.', 'She', 'sent', 'us', 'drawings', 'of', 'dragons', 'and', 'horses', 'in', 'response', '.']
{'.', 'I', 'and'}
['I', 'had', 'lady', 'fingers', 'while', 'the', 'soldiers', 'around', 'me', 'had', 'hands', 'made', 'to', 'strangle', 'and', 'calluses', 'that', 'grated', 'their', 'rifles', 'into', 'submission', '.']
['I', 'told', 'my', 'niece', 'about', 'them', 'in', 'a', 'letter', 'home', '.', 'She', 'sent', 'us', 'drawings', 'of', 'dragons', 'and', 'horses', 'in', 'response', '.']
The vowels in the first sentence are: {'a': 11, 'e': 11, 'i': 9, 'o': 5, 'u': 3}
The vowels in the second sentence are: {'a': 5, 'e': 11, 'i': 5, 'o': 7, 'u': 2}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [22]:
# Your code here

pi = 3.1415926535897931
try:
    r= int(input('r \n'))
    if r>=1 and r<=10:
      V = 4.0/3.0*pi* r**3
   #for
      print('V \n',V)
    elif r <= 0:
         print('The radius can not be zero or a negative value')
    else:
         print('radius is out of range')
except ValueError:
 print('The radius is not valid')

r
2
V
 33.510321638291124

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [22]:
# Your code here
#1

import statistics
import pandas as pd
data = pd.read_csv(r'https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv')

#Calculate the difference in the number of Occupied Housing Units from year to year andprint it.
#The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010

occuped_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# the difference in the number of Occupied Housing Units from year to year

diff_house = [list(occuped_houses['value'].values)[loop] - list(occuped_houses['value'].values)[loop+1]\
for loop in range(len(occuped_houses)-1)]
diff_house

[795, -5091, 303, -1404, -1565, -2622]

In [26]:
#2
# calculate the percentage of housing units which are vacant and occupied.

unique_years = sorted(list(data['year'].unique())) # legging list of unique year number

# number of ocupied houses

occuped_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=[
'year'])

# number of vacant houses

vacant_houses = data[data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])
new_house_df = pd.DataFrame()
new_house_df['year'] = unique_years
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = occuped_houses['value'].values
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][loop] * 100) /
\
(new_house_df['Vacant House'][loop] + new_house_df['Occupied House']
[loop])\

for loop in range(len(new_house_df))]
new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][loop] * 100) /\
(new_house_df['Vacant House'][loop] + new_house_df['Occupied House']
[loop])\

for loop in range(len(new_house_df))]
new_house_df

   year  Vacant House  ...  Percent of Vacant House  Percent of Occupied House
0  2008          4483  ...                10.882653                  89.117347
1  2009          3583  ...                 9.071116                  90.928884
2  2010          3635  ...                 8.142556                  91.857444
3  2011          4213  ...                 9.379522                  90.620478
4  2012          3013  ...                 6.677600                  93.322400
5  2013          4215  ...                 8.801788                  91.198212
6  2014          2814  ...                 5.730111                  94.269889

[7 rows x 5 columns]

In [24]:
#3

max_vacant_houses = max(data[data['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
vacant_houses
# the highest number of Occupied housing units
max_occuped_houses = max(data[data['title_field'] == 'Occupied Housing Units'].value)
occuped_houses = occuped_houses[occuped_houses['value'] == max_occuped_houses]
occuped_houses

   year             title_field  value
2  2014  Occupied Housing Units  46295

In [25]:
#4
# the harmonic mean .

print(statistics.harmonic_mean(list(data[data['title_field'] == 'Total Housing Units'].
value)))

44398.28543969185